<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">

        {{>header}}
        <p>This site was created by Khalid Khira. It uses data from mapbox.com and weatherstack api</p>
        <img class="portrait" src="  /images/me.png" alt="">
        </div>
        
        {{>footer}}
    </body>
</html>